* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  background-color: gray;
  min-height: 50px;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
}

.logo {
  color: mintcream;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: mintcream;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 15px;
}

.burger {
  display: none;
}

.burger div {
  height: 5px;
  width: 25px;
  background-color: mintcream;
  margin: 5px;
  transition: all 0.5s ease;
}

.banner {
  position: relative;
  z-index: -1;
}
.banner img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  max-width: 100%;
  border-bottom: 10px solid gray;
}

.content h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 3rem;
}

.content .author {
  padding: 20px;
  line-height: 25px;
}

.bahasa {
  padding-left: 40px;
}

.bahasa ol {
  padding: 10px;
  line-height: 25px;
  list-style: upper-greek;
}

.bahasa a {
  text-decoration: none;
  color: black;
}

.text p {
  padding: 20px;
  line-height: 25px;
}

@media screen and (max-width: 900px) {
  /* menu scrol-bar tidak bisa digeser sumber stack overflow */
  body {
    overflow-x: hidden;
  }

  .logo h4 {
    font-size: 14px;
  }
  .burger {
    display: block;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: mintcream;
    margin: 5px;
  }

  .nav-links {
    position: absolute;
    height: 90vh;
    right: 0px;
    top: 8vh;
    background-color: rgba(128, 128, 128, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links a {
    color: mintcream;
  }
}

.tabel h2 {
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-left: 20px;
}

.tabel table tr td {
  border: 1px solid black;
  text-align: left;
  padding: 1px;
}

.footer {
  background-color: grey;
  text-align: center;
  position: relative;
  bottom: -10px;
  width: 100%;
  padding: 10px;
}

/* ini akan diaktifkan pakai javaScript */
.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
